<div class="my-component" >
    This component is defined in the <strong>RazorClassLibrary1</strong> library.
    <p>@Title</p>
</div>


@code{

    [Parameter]
    public string? Title { get; set; }
}